img {
  vertical-align: middle;
  border-style: none;
  height: 376px;
  width: 230px;
}

input {
  margin-bottom: 30px;
}

a.btn-primary {
  margin-bottom: 30px;
}

.nav.navbar {
  margin-bottom: 30px;
}
