.img-fluid {
  vertical-align: middle;
  border-style: none;
  height: 300px;
}


input {
  margin-bottom: 30px;
}

a.btn-primary {
  margin-bottom: 30px;
}
 #button {
  color: white;
}
.nav.navbar {
  margin-bottom: 30px;
}
body {
  background: url("/static/img/film.jpg") 50% 0 no-repeat fixed;
  height: 650px;
  padding: 100px 0 0 0;
}

h3 {
  color: white;
}

.card {
  width: 250px;
  height: 450px;
}
